.App {
  text-align: center;
}

.App-logo > svg {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body > .CodeMirror-hints.graphiql {
	z-index: 2000;
}

.modal .graphiql-container {
	border: 1px solid #bfbfbf;
	/* width: 1500px !important;
	height: 800px !important; */
}

.modal .dialogContent {
	padding:4px 4px 5px 6px;
    background-color: #eaeaea;
    border-radius: 3px;	
    overflow: hidden;
	flex: 0 1 auto;
	flex-direction: column;
    align-items: flex-end;
    display: flex;
}

.dialogContentDefaultSize {
    width: 1200px !important;
	height: 700px !important;
}

.dialogContentFullSize {
	width: calc(100% - 10px) !important;
    height: calc(100% - 9px) !important;
}


.dialogButtonsContainer {
	margin-bottom: 2px;
}

.dialogButton {
	padding: 0 !important;
	min-width: 24px !important;
	color: rgba(0, 0, 0, 0.58) !important;
}

.modal .border {
	border-radius: 3px;
 	border-bottom: 4px solid #eaeaea;
    border-left: 4px solid #eaeaea;
    border-right: 4px solid #eaeaea;
    border-top: 25px solid #eaeaea;
}

.modal .innerBorder {
 	border: 1px solid #bfbfbf;
}
      

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
